<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>AMP</title>
    <link rel="canonical" href="http://localhost:3000/" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    
    <style amp-custom>


      form.amp-form-submit-success [submit-success],
      form.amp-form-submit-error [submit-error]{
        margin-top: 16px;
      }
      form.amp-form-submit-success [submit-success] {
        color: green !important;
        background: yellow;
        height: 100vh;
        width: 100vh;
        font-size: 28px;
      }

      form.amp-form-submit-error [submit-error] {
        color: red;
      }

      template {
        display: block !important;
      }

    </style>

  </head>
  <body>
    <div class="header">
      <h1>AMP</h1>
    </div>

    <section>
      <div>
        <amp-img src="../../assets/architectural-design-architecture-building-443383.jpg" width="300" height="200" layout="responsive"/>
      </div>
      <div>
        <header>
          <h1>Amsterdam Business Database A - Z</h1>
          <h2>Find and call any business in Amsterdam.</h2>
        </header>

         <form id="myform"
                method="post"
                action-xhr="/ypSearchResult"
                target="_top">
            <div>
              <input type="text"
                     name="what"
                     id="what"
                     placeholder="company...">
            </div>
            <div>
              <input type="submit"
                     value="Search">
            </div>
            <div submit-success>
              <template type="amp-mustache" id="submit_success_template">
                <p>Success! Thanks for subscribing! {{{resultHeader}}} </p>
              </template>
            </div>
            <div submit-error>
              <template type="amp-mustache">
                Oops!
              </template>
            </div>
          </form>
      </div>
    </section>
  </body>
</html>