<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>AMP</title>
    <link rel="canonical" href="http://localhost:3000/"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <style amp-custom>

        body {
            font-size: 1rem;
            line-height: 1.5;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            padding: 1rem;
        }

        .search-container {
            display: flex;
            flex-flow: row nowrap;
        }

        .search-box, .search-submit {
            font-size: 1rem;
        }

        .search-box {
            flex: 4 0 0;
            padding: 5px;
            border-radius: 2px;
            border: 1px solid black;
            border-right: 0;
        }

        .search-submit {
            flex: 1 0 0;
            padding: 5px;
            border-radius: 2px;
            border: 2px solid #1A2F87;
            background: #1A2F87;
            color: #fff;
        }

        li {
            border-bottom: 1px solid #ccc;
        }

        li:hover {
            background-color: aliceblue;
        }

        h4 {
            display: inline-block;
        }

        h4, h5 {
            font-size: 0.8rem;
        }

    </style>
</head>
<body>
    <div>
        <h1> AMP </h1>
        <h2> Amsterdam Business Database A - Z </h2>
        <h3> Find any business in Amsterdam </h3>
    </div>
    <div>
        <form method="post" action-xhr="/ypSearchResult" target="_top" id="search-form" on="submit-success:results.show">
            <div class="search-container">
                <input id="what" name="what" type="search" class="search-box"
                       on="input-debounced:AMP.setState({ what: event.value }), results.hide"
                       [value]="what || '' "/>
                <button class="search-submit" type="submit">Search</button>
            </div>
            <div submit-success id="results">
                <template type="amp-mustache">
                    <p>Here are 100 results for the search "{{resultHeader}}" </p>
                    <ol>
                        {{#results}}
                        <li> <h4>{{name}}</h4> at {{address.street}}  </li>
                        {{/results}}
                    </ol>
                </template>
            </div>
        </form>
    </div>
</body>
</html>